<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://guptaagro.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>guptaagro.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GuptaAgro</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GuptaAgro</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GuptaAgroDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=184.168.194.77;Initial Catalog=ph15954688577_CG;Persist Security Info=True;User ID=cgsolar;Password=Cgsolar1!;Application Name=EntityFramework" Name="Data Source=184.168.194.77;Initial Catalog=ph15954688577_CG;Persist Security Info=True;User ID=cgsolar;Password=Cgsolar1!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CGSolar.GuptaAgroDbContext, CGSolar" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=184.168.194.77;Initial Catalog=ph15954688577_CG;Persist Security Info=True;User ID=cgsolar;Password=Cgsolar1!;Application Name=EntityFramework" Name="Data Source=184.168.194.77;Initial Catalog=ph15954688577_CG;Persist Security Info=True;User ID=cgsolar;Password=Cgsolar1!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CGSolar.Models.ApplicationDbContext, CGSolar" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Excel03ConString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Excel03ConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Excel07ConString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Excel07ConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=184.168.194.77;Initial Catalog=ph15954688577_CG;Persist Security Info=True;User ID=cgsolar;Password=Cgsolar1!;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Excel03ConString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Excel07ConString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GuptaAgroDbContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/GuptaAgroModel.csdl|res://*/GuptaAgroModel.ssdl|res://*/GuptaAgroModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=184.168.194.77;Initial Catalog=ph15954688577_CG;Persist Security Info=True;User ID=cgsolar;Password=Cgsolar1!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>