@{
    ViewBag.Title = "O and M sheet";
}

    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
    
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    
<style>
    #OMtable thead{
        background-color:gold;
        color:black;
        border-collapse:collapse
    }

    #OMtable tbody td{        
        border-collapse:collapse;
        border:1px solid black;

    }
    tbody td:hover{
        background-color:coral;
    }
</style>

    <div class="table table-responsive" style="margin-top:20px">
        <table id="OMtable">
            <thead>
                <tr>
                    <td>S.No.</td>
                    <td>Wo#</td>
                    <td>Beneficiary Name</td>
                    <td>Village</td>
                    <td>Block</td>
                    <td>District</td>
                    <td>System Capacity</td>
                    <td>Contact Number</td>
                    <td>Problem Report Date</td>
                    <td>Problem Type</td>
                    <td>Status</td>
                    <td>Date Of Completion</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>123456</td>
                    <td>Pradeep</td>
                    <td>Kotpad</td>
                    <td>1</td>
                    <td>Kotpad</td>
                    <td>3</td>
                    <td>8919033773</td>
                    <td>1/2/3</td>
                    <td>Problem Type</td>
                    <td>Status</td>
                    <td>2/3/4</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>123456</td>
                    <td>Vishal</td>
                    <td>Vizag</td>
                    <td>1</td>
                    <td>Vizag</td>
                    <td>3</td>
                    <td>7799004545</td>
                    <td>1/2/3</td>
                    <td>Problem Type</td>
                    <td>Status</td>
                    <td>2/3/4</td>
                </tr>
                    
                <tr>
                    <td>3</td>
                    <td>123456</td>
                    <td>Praveen</td>
                    <td>Hyderabad</td>
                    <td>1</td>
                    <td>Hyderabad</td>
                    <td>3</td>
                    <td>8949763754</td>
                    <td>1/2/3</td>
                    <td>Problem Type</td>
                    <td>Status</td>
                    <td>2/3/4</td>
                </tr>
                    

            </tbody>
        </table>
    </div>

<script>
    $('#OMtable').DataTable();
</script>